{% extends "base.html" %}

{% block title %}All blogs{% endblock title %}

{% block content %}

<div>
    <h1>ALL BLOGS</h1>
    {% for blog in blogs %}
    <a href={% url "blog_details" slug=blog.slug %}>
        <h2>{{ blog.title }}</h2>
        {% if request.user == blog.author %}
        <a href={% url "edit_blog" blog.slug%}>Edit Blog</a>
        {% endif %}
    </a>
    <h4>BY: {{blog.author}}. Created: {{blog.created_at}}. Last Updated: {{blog.updated_at}}</h4>
        <p>{{ blog.description|truncatechars:100 }}</p>
    {% endfor %}
</div>

{% endblock content %}