<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h2>Welcome to the Blog System, Feel free to share your blogs with the world. <br> <span>Asking where to start
                from?
                <a href="{% url 'blogs' %}">Click me</a> to view all blogs</span></h2>
    </div>
    <div style="margin: 30px 0px;">
        {% if not request.user.is_authenticated %}
        <a href={% url "user_signup" %}>
            <button>Signup</button>
        </a>
        <a href={% url "user_signin" %}>
            <button>Signin</button>
        </a>
        {% endif %}
    </div>
    <div>
        <h4>Do you what to share your blogs? click the button below</h4>
        <a href="{% url 'add_blog' %}">Add New Blog</a>
    </div>
</body>

</html>