<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <div>
      <h1>Forgotten your password</h1>
      <p>Enter your email to receive a new password</p>
    </div>
    <div>
      <form action="" method="post">
        {% csrf_token %} {{ form.as_p }}
        <p>
          <button type="submit">Send Email</button>
        </p>
      </form>
    </div>
  </body>
</html>
