{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <style>{% block extra_css %}{% endblock extra_css %}</style>
</head>
<body>
{% if request.user.is_authenticated %}
<button type="button"><a href={% url "home" %}>Home</a></button>
<button type="button"><a href={% url "user_signout" %}>logout</a></button>
{% endif %}
    {% block content %}{% endblock content %}
</body>
</html>